.preports-logo {
    display: inline-block;
}

.preports-logo .p {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}

.preports-logo .r {
    display: inline-block;
}